* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #555;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    color: white;
    background: linear-gradient(60deg, red, orange);
}


.main {
    display: flex;
    flex-grow: 1;
}

.navigation {
    width: 20vw;
    padding: 0.5em;
}

.nav-list {
    list-style-type: none;
    padding: 0px;
}

.nav-list-item {
    line-height: 2em;
    height: 2em;
    margin-bottom: 0.5em;
    background-color: #808080;
}

.nav-list-link {
    display: inline-block;
    width: 100%;
    padding: 0 0.5em;
    color: white;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.section {
    width: 60vw;
    padding: 0.5em;
    font-size: 1.25em;
}

.section__header {
    font-size: 5vw;
    text-align: center;
}

.units-list {
    line-height: 1.75em;
}

.css-units {
    color: #8b0000;
    background-color: #e5e5e5;
    font-size: 1.125em;
    font-weight: 700;
}

.news {
    width: 20vw;
    padding: 0.5em;
}

footer {
    text-align: center;
    background-color: #e5e5e5;
    padding: 0.5em;
}