.rect {
    border: 2px solid black;
}

.rectangle1 {
    margin: 50px;
    background-color: blue;
}

.rectangle2 {
    margin: 50px;
    background-color: yellow;
}

.rectangle3 {
    margin: 50px;
    background-color: green;
}

.rectangle4 {
    padding: 25px;
    background-color: pink;
    margin: 50px;
}